@charset "utf-8";
/* CSS Document */


/* ====================== General ====================== */

html,
body {
	width: 100%;
}

body,
td,
th,
p {
	font: 10pt Arial, Helvetica, sans-serif;
	color: #333;
	line-height: 1.5;
}

body {
	background-color: #eceaea;
	margin: 0;
	position:relative;
}

ul,
li {
	font: 10pt Arial, Helvetica, sans-serif;
	color: #333;
	box-sizing: border-box;
	max-width: 100%;
}

a {
	color: orange;
	text-decoration: none;
}

a:hover,
a:focus,
button:hover,
button:focus {
	text-decoration: underline;
}

a:hover,
a:focus {
	color: #0074c2;
}

a img {
	border: none 0px #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

main {
  min-height: 100%;
	border-bottom: 5px solid #0074c2;
}

footer {
  background-color: #444;
  color: #dfdddd;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}


/* ====================== Navigation ====================== */

nav {
  width: 100%;
  min-height: 80px;
  background-color: #252831;
  text-align: center;
	margin: 0;
}

.logo-text {
	padding: 22px 10px;
	margin: 0;
}

.logo-link {
  color: #fff;
  font-weight: 200;
	font-size: 0.75em;
  letter-spacing: 6px;
  text-transform: uppercase;
}

.breadcrumb {
	width: 100%;
	padding: 18px 10px;
	list-style: none;
	background-color: #caced1;
	margin: 0 auto;
	text-align: center;
}

/* Display list items side by side */
.breadcrumb__item {
	display: inline;
	font-size: 1.1em;
}

/* Add a slash symbol (/) before/behind each list item */
.breadcrumb .breadcrumb__item + .breadcrumb__item:before {
	padding: 8px;
	color: black;
	content: "/";
}

/* Add a color to all links inside the list */
.breadcrumb__item__link {
	color: #015b97;
	text-decoration: none;
}

/* Add a color on mouse-over */
.breadcrumb__item__link:hover {
	color: #01447e;
	text-decoration: underline;
}


/* ====================== Map ====================== */

.map-div {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}

.map-reviews {
	border-bottom: 25px solid #0074c2;
}


/* ====================== Restaurant Filtering ====================== */

.filter-options {
  width: 100%;
  height: 190px;
	padding: 15px;
	box-sizing: border-box;
  background-color: #0074c2;
}

.filter-options__header {
  color: white;
	width: 100%;
	text-align: center;
  font-size: 1.3rem;
  font-weight: normal;
  margin: 2px 0;
}

.filter-options__dropdown {
  background-color: white;
  border: 1px solid #fff;
  font: 1rem Arial, sans-serif;
  height: 48px;
	width: 85%;
  margin: 8px 7.5%;
  padding: 0 10px;
}

.filter-options__dropdown:focus,
.filter-options__dropdown:hover {
	background: #e91e63;
	color: #fff;
	text-decoration: underline;
}


/* ====================== Restaurant Listing ====================== */

.restaurants-list-title {
	text-align: center;
	margin: 40px 0 15px;
	color: #985700;
	font-size: 1.8em;
	font-weight: 300;
	text-transform: uppercase;
}

.restaurants-list {
  list-style: none;
  margin: 0;
  padding: 0 35px 20px;
  text-align: center;
}

.restaurants-list__card {
	width: 100%;
	min-height: 380px;
  background-color: #fff;
  font-family: Arial, sans-serif;
  margin: 20px 0;
  padding: 0;
	border-radius: 1.5em 0;
}

.restaurants-list__card__img {
  width: 100%;
	border-top-left-radius: 1.5em;
}

.restaurants-list__card__title {
  color: #985700;
  font: 200 1.3em Arial, sans-serif;
  margin: 15px auto 10px;
  text-transform: uppercase;
}

.restaurants-list__card__address {
  margin: 0 8px;
  font-size: 1rem;
}

.restaurants-list__card__link {
  background-color: #985700;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  margin: 15px 0 15px;
  padding: 10px 30px 10px;
  text-transform: uppercase;
}

.restaurants-list__card__link:focus,
.restaurants-list__card__link:hover {
	background: #e91e63;
	color: #fff;
	text-decoration: underline;
}


/* ====================== Restaurant Details ====================== */

.restaurant,
.reviews-container {
	width: 100%;
	box-sizing: border-box;
}

.restaurant {
	padding: 25px 35px 20px;
	border-bottom: 2px solid #caced1;
}

.restaurant__name,
.reviews-title {
  color: #985700;
  margin: 5px 0 30px;
  text-transform: uppercase;
	text-align: center;
}

.restaurant__name {
	font: 300 1.8em/1.1em Arial, sans-serif;
}

.reviews-title {
	font: 200 1.5em/1.1em Arial, sans-serif;
}

.restaurant__image {
	width: 100%;
}

.restaurant__cuisine {
	width: 100%;
	background-color: #333;
	color: #ddd;
	font: 300 12pt Arial, Helvetica, sans-serif;
	letter-spacing: 8px;
	margin: 0 0 20px;
	padding: 14px 0;
	text-align: center;
	text-transform: uppercase;
}

.restaurant__address {
  font-size: 1.2em;
  margin: 10px 0px 20px;
	text-align: center;
}

.restaurant__hours-table {
	width: 100%;
	max-width: 420px;
	margin: 0 auto;
}

.hours-table__row {
	height: 25px;
}

.hours-table__row__data:nth-of-type(2n - 1) {
	text-align: left;
	color: #975938;
}

.hours-table__row__data:nth-of-type(2n) {
	text-align: right;
}


/* ============== Restaurant Details -- Reviews ============== */

.reviews-container {
	padding: 20px 35px 20px;
}

.reviews-title {
	font-size: 1.3em;
}

.reviews-list {
  padding: 0;
}

.reviews-list__review {
	width: 100%;
	min-height: 200px;
  background-color: #fff;
  list-style-type: none;
  margin: 20px 0;
  padding: 20px;
	border-radius: 1.5em 0;
}

.reviews-list__review__name,
.reviews-list__review__date,
.reviews-list__review__rating {
	color: #975938;
}

/* ====================== Service Worker Toast ====================== */

.sw-toast {
	position: sticky;
	width: 400px;
	max-width: 80%;
	min-height: 40px;
	bottom: 50px;
  z-index: 1;
  margin: 0 auto;
	padding: 10px;
  display: flex;
  display: -webkit-flex;
  background-color: #323232;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.2),
							0 -1px 0px rgba(0,0,0,0.02);
}

.sw-toast[hidden] {
	display: none;
}

.toastMessage {
  margin: auto;
  margin-left: 5px;
	color: #fff;
	font-size: 1.2em;
}

.toastButton {
  background: none;
  border: none;
  color: #FF5252;
  text-transform: uppercase;
  float: right;
  cursor: pointer;
  margin: auto 1px;
	font-size: 1.1em;
}


/* ====================== Breakpoints ====================== */


@media screen and (min-width: 380px) {

	/* ====================== Restaurant Filtering ====================== */

	.filter-options__dropdown {
		width: 298px;
    margin: 8px calc((100% - 298px)/2);
	}

}

@media screen and (min-width: 420px) {

	/* ====================== Navigation ====================== */

	.logo-link {
		font-size: 1rem;
	}

	.breadcrumb__item {
		font-size: 1rem;
	}

	/* ====================== Restaurant Listing ====================== */

	.restaurants-list {
		display: flex;
		flex-wrap: wrap;
		width: 420px;
		margin: 0 auto;
	}

	.restaurants-list__card {
		width: 349px;
		margin: 20px 10px;
	}

}

@media screen and (min-width: 460px) {

	/* ====================== Restaurant Details ====================== */

	.hours-table__row__data {
		font-size: 1rem;
	}

	/* ============== Restaurant Details -- Reviews ============== */

	.reviews-list__review__name,
	.reviews-list__review__date,
	.reviews-list__review__rating,
	.reviews-list__review__comment {
		font-size: 1rem;
		margin-bottom: 5px;
	}

}

@media screen and (min-width: 808px) {

	/* ====================== Navigation ====================== */

	.logo-link {
		font-size: 1.2rem;
	}

	/* ====================== Restaurant Filtering ====================== */

	.filter-options {
		display: flex;
		flex-wrap: wrap;
		height: 130px;
	}

	.filter-options__dropdown {
		margin: 8px 10px;
	}

	.filter-options__dropdown:nth-of-type(2n-1) {
		margin-left: calc((100% - 616px)/2);
	}

	/* ====================== Restaurant Listing ====================== */

	.restaurants-list {
		width: 808px;
	}

	/* ====================== Restaurant Details ====================== */

	.restaurant,
	.reviews-list {
		width: 808px;
		margin: 0 auto;
	}

}

@media screen and (min-width: 1177px) {

	/* ====================== Restaurant Listing ====================== */

	.restaurants-list {
		width: 1177px;
	}

}
